<!-- Sidebar sidebar -->
<div class="container-rel bg-peach sticky-left sticky-top shadow-lg border-right border-dark" style="width: 15vw; padding: 15px;">
    <ul class="navbar-nav accordian" id="accordionSidebar">
        <!-- sidebar sidebar-dark  -->

        <!-- Logo -->
        <div class="d-flex align-items-center" style="height: 8vw;">
            <div class="d-flex text-light font-weight-bold justify-content-center" style="height: 8vh; width: 15vw;">
                <div class="font-navy text-align-center font-weight-bold">
                    <a href="index">
                        <h2 class="font-weight-bold font-navy" style="font-size: 2vw; text-overflow: ellipsis;">
                            TaskBoard</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="h_line"></div>

        <!-- Main Screen -->
        <li class="nav-item" style="font-size: 0.95vw;">
            <form action="index">
                <button type="submit" class="border border-dark shadow-lg font-weight-bold btn-block button3 btn-dark">
                    Home
                </button>
            </form>
        </li>




        <br>
        <!-- MMC Link -->
        <li class="nav-item" style="font-size: 0.95vw;">
            <form action="multiMonthCalendar">
                <button type="submit" class="border border-dark shadow-lg font-weight-bold btn-block button3 btn-dark">
                    Multi-Month Calendar
                </button>
            </form>
        </li>
        <br>
        <!-- Task List Link -->
        <li class="nav-item" style="font-size: 0.95vw;">
            <form action="taskList">
                <button type="submit" class="border border-dark shadow-lg btn-block button3 font-weight-bold btn-dark">
                    Task List
                </button>
            </form>
        </li>
        <br>


    </ul>
            <!-- Task List Link -->
            <div if = "debug">
                <button id="debugButton"
                    class="border border-dark shadow-lg btn-block button3 font-weight-bold btn-warning text-dark"
                    style="font-size: 1vw;">Debug: Clear all app data and restart</button>
            </div>
</div>