        <!-- Sidebar -->
        <ul class = "navbar-nav sidebar sidebar-dark accordian bg-peach" id="accordionSidebar">
            <div><h1>TaskBoard</h1></div>

            <!-- Logo -->

            <!-- Main Screen -->
            <li class = "nav-item">
                <form action="/" method = "GET">
                    <div>
                        <button type = "submit" class = "button3 btn-light font-weight-bold">
                            Home screen
                        </button>
                    </div>
                </form>
            </li>
            <br>
            <!-- MMC Link -->
            <li class = "nav-item">
                <form action="/" method = "GET">
                    <div>
                        <button type = "submit" class = "button3 btn-light font-weight-bold">
                            Multi-Month Calendar
                        </button>
                    </div>
                </form>
            </li>
            <br>
            <!-- Task List Link -->
            <li class = "nav-item">
                <form action="/tasklist" method = "GET">
                    <div>
                        <button type = "submit" class = "button3 btn-light font-weight-bold">
                            Task List 
                        </button>
                    </div>
                </form>
            </li>


        </ul>