                <!-- Topbar -->
                <div class = "sticky-left bg-peach shadow-lga " style = "height: 8vw;">
                    <div class = "sticky-top navbar navbar-custom navbar-expand topbar" style = "height: 8vw;">
                        <!-- <form action="/login" method = "GET">
                            <div>
                                <button type = "submit" class = "bg-mint button3 btn-dark font-weight-bold">
                                    Login
                                </button>
                            </div>
                        </form>
                        <form action="/register" method = "GET">
                            <div>
                                <button type = "submit" class = "button3 btn-dark font-weight-bold">
                                    Register
                                </button>
                            </div>
                        </form> -->
    
                        <div class = "center">
                            <button id = "debugButton" class = "btn btn-primary btn-warning text-dark border-dark button button3 font-weight-bold"  style = "font-size: 1vw;">Debug: Clear all app data and restart</button>
                        </div>
                    </div>
                </div>
