.square {
    height: 50px;
    width: 50px;
    background-color: #555;
}

.p-instructions {
    padding: 15px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.header {
    position: sticky;
    top: 0;
}

.big-checkbox {
    width: 35px;
    height: 35px;
}

.bg-grey {
    background-color: #c9f5d9;
}

.bg-navyblue {
    background-color: #000080;
}

.bg-winninggold {
    background-color: #FCC201;
}

.bg-lightpeach {
    background-color: #ffd686;
}

.font-lightblue {
    color: #ADD8E6;
}

.font-purple {
    color: #041e42;
}


table {
    position: relative;
    border-collapse: collapse;
}

tr.peach th {
    background: #ed8f69;
    color: white;
}

tr.lightpeach th {
    background: #ffd686;
    color: black;
}

tr.black th {
    background: black;
    color: white;
}


.fixTableHead {
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
}

.fixTableHead thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.navbar-custom {
    height: 100px;
}


.button {
    background-color: #ed8f69;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}