.square {
    height: 50px;
    width: 50px;
    background-color: #555;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.header {
    position: sticky;
    top: 0;
}

.big-checkbox {
    width: 50px;
    height: 50px;
}

.bg-grey {
    background-color: #d3d3d3;
}

.bg-navyblue {
    background-color: #000080;
}

.bg-winninggold {
    background-color: #FCC201;
}

.font-lightblue {
    color: #ADD8E6;
}

.font-purple {
    color: #552586;
}

