<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Hotjar Tracking Code for https://taskboard-5927.herokuapp.com -->
    <!-- From Team Groovy Goobers II to be installed on Taskboard -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2930018,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <title>TaskBoard - Register</title>

    <!-- Custom fonts for this template-->
    <link rel = "stylesheet" href="public/css/index.css">
    <link rel = "stylesheet" href="public/css/sb-admin-2.css">

</head>

<body class="bg-lightpeach">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row bg-grey">
                    <div class="col-lg-7 center">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create a TaskBoard Account</h1>
                                <div class = "text-danger">
                                    <p class = "font-weight-bold">5927 Students - These are Insecure Fields</p>
                                    <p class = "font-weight-bold">Only enter dummy login credentials (e.g. testaccount, 1234)</p>
                                    <p class = "font-weight-bold">Save these dummy credentials to login on the next screen</p>
                                </div>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputUsername"
                                        placeholder="Username">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <a href="login" class="btn btn-dark btn-block" id = "register-button">
                                    <div class = "" style = "font-size: 18px">
                                        Register Account
                                    </div>
                                    
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class = "center">
            <button id = "debugButton" class = "btn btn-primary btn-warning text-dark border-dark button button3 font-weight-bold">Debug: Clear all app data and restart</button>
        </div> -->
    <!-- <script src="/public/js/debug.js"></script> -->
    <script src="/public/js/register.js"></script>
</body>

</html>